@model Railways.Models.EditProfileViewModel

@{
    ViewBag.Title = "Редагування профіля";
}

<h2>Редагування профіля</h2>

<div class="form-horizontal">
    @Html.ValidationSummary(true)

    @using (Html.BeginForm("EditProfile", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
        <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
    </div>
    
     <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Country, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Country, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Country)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.HomeTown, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.HomeTown, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.HomeTown)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Age, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Age, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Age)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Phone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Phone, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Phone)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.CreditCard, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.CreditCard, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.CreditCard)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.SpecialInfo, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SpecialInfo, new SelectList(new []{"Студент", "Дитина", "Пільговик", "Дорослий"}))
            @Html.ValidationMessageFor(m => m.SpecialInfo)
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.AboutMe, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.AboutMe, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.AboutMe)
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Зберегти зміни" />
        </div>
    </div>
    }
    </div>
