@model IEnumerable<Railways.Routes>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stations.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Distance)
        </th>        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Stations.Name, "StationTrains", "Routes", new { stationID = item.StationID}, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Distance)
            </td>

            
            
        </tr>
    }

</table>


