@model Railways.Routes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Routes</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stations.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stations.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trains.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trains.Number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RouteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
