@model Railways.Routes

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Routes</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.RouteID)

        <div class="form-group">
            @Html.LabelFor(model => model.StationID, "StationID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StationID", String.Empty)
                @Html.ValidationMessageFor(model => model.StationID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrainID, "TrainID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TrainID", String.Empty)
                @Html.ValidationMessageFor(model => model.TrainID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArrivalTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ArrivalTime)
                @Html.ValidationMessageFor(model => model.ArrivalTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DepartureTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DepartureTime)
                @Html.ValidationMessageFor(model => model.DepartureTime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distance, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distance)
                @Html.ValidationMessageFor(model => model.Distance)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
