@model Railways.Carriages

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Carriages</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CarriageID)

        <div class="form-group">
            @Html.LabelFor(model => model.Number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Number)
                @Html.ValidationMessageFor(model => model.Number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarriageTypeID, "CarriageTypeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CarriageTypeID", String.Empty)
                @Html.ValidationMessageFor(model => model.CarriageTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TrainID, "TrainID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TrainID", String.Empty)
                @Html.ValidationMessageFor(model => model.TrainID)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
